# EXAMPLE .env
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
# OR
# openssl rand -base64 64
#MONGODB_URI="mongodb://appuser:secretpassword@localhost:27017/DB_NAME_HERE?authSource=admin"
MONGODB_URI="mongodb://localhost:27017/DB_NAME_HERE"
SESSION_SECRET="SECRET_VALUE_HERE" # Like af8fb3d9d324792a867420f985cdf1b16e91dd086d5852e355c3922e05858a51
PORT=3011

CORS_ORIGIN=
ENABLE_TOPIC_CREATION=false
CAPTCHA_SECRET=
PUBLIC_CAPTCHA_SITEKEY=

VAULT_ADDR=http://127.0.0.1:8200
VAULT_ROLE_ID=ROLE_ID_HERE
VAULT_SECRET_ID=SECRET_ID_HERE

RESEND_API_KEY=
RESEND_FROM=
RESEND_TO=
